DATA_SOURCE_PATH=C:/Kalpana/TD Bank/datasheets
BASE_URL=http://ocp.api.sys.td.com/com-td-ocp-delivery-api
RAML_LOCATION=C:/Kalpana/TD Bank/RAML files
OUTPUT_DIRECTORY=C:/Kalpana/TD Bank/InputOutput


UPDATE_FLAG=N
INPUT_TST_FILE=C:/KalpanaTAEWorkspace/Kalpana-raml/src/main/resources/inputTSTFileTemplate.xml