DATA_SOURCE_PATH=C:/Kalpana/TD Bank/datasheets
BASE_URL=http://ocp.api.sys.td.com/com-td-ocp-delivery-api
RAML_LOCATION=C:/Kalpana/TD Bank/RAML files/EPC_RAML
OUTPUT_DIRECTORY=C:/Kalpana/TD Bank/InputOutput


UPDATE_FLAG=N
INPUT_TST_FILE=C:/KalpanaTAEWorkspace/Kalpana-raml/src/main/resources/inputTSTFileTemplate.xml
TOKEN_URL=https://pingfederate.sys.td.com:9031/as/token.oauth2?client_id=TestScopeClient&amp;client_secret=2Federate&amp;